<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CreateSessionServlet</display-name>
    <servlet-name>CreateSessionServlet</servlet-name>
    <servlet-class>com.servCookie2.CreateSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSessionServlet</servlet-name>
    <url-pattern>/CreateSessionServlet</url-pattern>
  </servlet-mapping>
  <display-name>CookieServletTask</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ReadCookieServlet</servlet-name>
    <servlet-class>com.servCookie.ReadCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetCookieServlet</servlet-name>
    <servlet-class>com.servCookie.SetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookieServlet</servlet-name>
    <url-pattern>/readCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetCookieServlet</servlet-name>
    <url-pattern>/setCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadSessionServlet</display-name>
    <servlet-name>ReadSessionServlet</servlet-name>
    <servlet-class>com.servCookie2.ReadSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadSessionServlet</servlet-name>
    <url-pattern>/ReadSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servCookie3.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servCookie3.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>